.ItemCard-wrapper {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
}

.ItemCard-item {
  min-height: 175px;
  width: 200px;
  overflow: hidden;
}

.ItemCard-top {
  /* background-color: rebeccapurple; */
}

.ItemCard-itemName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  font-size: 0.9em;
}

.ItemCard-itemCondition {
  text-align: left;
  font-weight: lighter;
  font-size: 0.75em;
}

.ItemCard-itemPrice {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  left: 0;
  right: 0;
  text-align: center;
}

.ItemCard-itemImage {
  display: flex;
  align-items: center;
  filter: saturate(123%);
  /* filter: drop-shadow(0 5px 1px rgba(0,0,0,0.5)) saturate(123%); */
}

.ItemCard-itemImage img {
  width: 100%;
}

