.Inventory-wrapper {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 440px;
  height: 90vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(140,140,140, 0.1);
  margin-left: 10px;
  margin-right: 10px;
}

.Inventory-tools {
  border-radius: 5px;

  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.Inventory-body {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

.Inventory-items {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Inventory-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}