.Trade {
}

.Trade-content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

.Trade-content-left {
}

.Trade-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* CENTER ^^^ */
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.Trade-content-totals {
  display: flex;
}

.Trade-content-total {
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding: 30px;
  margin: 20px;
  /* background-color: rgba(0,0,0,0.1); */
}

.Trade-content-total-value {
  font-size: 4em;
  font-weight: bold;
}

.Trade-content-total-label {
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
}

.Trade-content-totals-seperator {
  border-radius: 5px;
  font-size: 4em;
  text-align: center;
  padding-top: 40px;
  margin-top: 20px;
}

.Trade-content-buy {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.Trade-content-buyBtn {
  width: 25%;
  height: 60px;
  font-weight: bold;
  font-size: 1.6em;
  white-space: nowrap;
}