.UserData-content {
  width: 800px;
  min-width: 320px;
  padding: 10px;
}

.UserData-navbar {
  width: 100%;
}

.UserData-panel {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}

.UserData-panel-row {
  margin: 5px;
  padding: 0px;
  /* border-radius: 5px; */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
}



.Exchange-header {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Exchange-header-row {
  display: flex;
  justify-content: space-between;
}

.Exchange-header-item { 
  font-weight: bold;
}

.Exchange-content {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.Exchange-spacer {
  margin: 20px;
  align-self: center;
}

.Exchange-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Exchange-value {
  font-size: 2em;
  font-weight: bold;
  align-self: center;
}



.VirtualItem-wrapper{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin: 5px;
}

.VirtualItem-item {
  border-radius: 5px;
  padding: 5px;
  min-height: 100px;
  width: 100px;
  overflow: hidden;
}

.VirtualItem-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.VirtualItem-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-weight: bold;
  font-size: 0.9em;
}

.VirtualItem-image {
  display: flex;
  align-items: center;
  filter: saturate(123%);
}

.VirtualItem-image img {
  width: 100%;
  height: 100%;
}

.VirtualItem-price {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  left: 0;
  right: 0;
  text-align: center;
}