.Actions-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(140,140,140, 0.1);
}

.Actions-inputs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Action-checkbox-filters {
  padding: 20px;
}